{{ $     := .root }}
{{ $page := .page }}
{{ $bg   := $page.Params.design.background }}

{{ if $page.Params.hero_media }}
<div class="row">
  <div class="text-center text-md-left">
{{ end }}

{{/* Hero image */}}
{{ if $page.Params.hero_media }}
  </div>
  <div class="{{if $page.Params.design.flip}}order-md-first{{end}} hero-media">
    {{- $image := ($page.Parent.Resources.ByType "image").GetMatch $page.Params.hero_media -}}
    {{- if not $image -}}
      {{- $image = resources.Get (path.Join "media" $page.Params.hero_media) -}}
    {{- end -}}
    {{ if $image }}
      {{ $isSVG := eq $image.MediaType.SubType "svg" }}
      {{ if $isSVG -}}

        <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}">

      {{- else }}

        {{ $legacy_img := $image.Resize "400x" }}
        {{ $img_src := "" }}
        {{ $img_src_set := slice }}
        {{ $widths := slice 1200 800 400 }}

        {{ range $widths }}
          {{ $src_link := ($image.Resize (printf "%dx" .)).RelPermalink }}
          {{ if eq $img_src "" }}
            {{ $img_src = $src_link }}
          {{ end }}
          {{ $img_src_set = $img_src_set | append (printf "%s %dw" $src_link .) }}
        {{ end }}
        {{ $img_src_set = delimit $img_src_set "," }}

        <img src="{{ $legacy_img.RelPermalink }}" srcset="{{ $img_src_set }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $page.Title }}">
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
